body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}
.App {
  text-align: center;
  background-color: antiquewhite;
  width: 100%;
  height: 100vh;
}

h1{
  font-size: 42px;
}

.page-header {
  padding: 4rem;
  text-align: center;
  position: relative;
}

.page-header::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-image: url(./img/homeimage.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.3;
  z-index: 1;
}

.page-header::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 76, 229, 0.15);
  z-index: 2;
}

.page-header .header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.page-header .breadcrumb a {
  text-decoration: none;
}

.logo {
  width: 200px;
  height: auto;
  font-size: bold;
  color: black;
  font-weight: bold;
}

.Navbar {
  font-weight: bold;
  color: black;
}

.Sidebar {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .home,
  .services,
  .reports,
  .contact,
  .events,
  .support {
    display: flex;
    margin-left: 260px;
    font-size: 2rem;
  }
}

